@define-color bg rgb(0, 0, 0);
@define-color fg rgb(235, 219, 178);

* {
    border: none;
    border-radius: 0;
    margin: 0px;
    padding: 0px;
    font-family: JetBrains Mono, JetBrainsMono Nerd Font;
    font-size: 15px;
    font-weight: bold;
    min-height: 0px;
}

window#waybar {
    background: @bg;
}

window#waybar > box {
    margin: 2px;
}

#workspaces button {
    color: @fg;
    padding: 0px 1px 0px 1px;
}

#workspaces button:hover {
    background: @bg;
    box-shadow: none;
}

#custom-separator {
    margin: 0px 4px 0px 4px;
}

#custom-separator,
#network,
#cpu,
#memory,
#pulseaudio,
#backlight,
#battery,
#clock
{
    color: @fg;
    font-size: 14px;
}

#tray {
    margin-left: 4px;
}
